<div class="curs-genes-and-orgs-edit">
  <div class="curs-box-title">{{ tableTitle }}</div>
  <div ng-show="organisms().length === 0">
    <p>No genes have been added.</p>
  </div>
  <div ng-show="organisms().length > 0" class="curs-box-body">
    <table class="organism-table">
      <thead>
        <tr>
          <th rowspan="2">Organism</th>
          <th class="curs-genes-and-orgs-edit-gene" colspan="3">Gene</th>
          <th ng-if="!readOnly" rowspan="2"></th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Product</th>
        </tr>
      </thead>
      <tbody ng-repeat="organism in organisms() track by organism.taxonid">
        <tr ng-repeat="gene in organism.genes track by gene.gene_id">
          <td ng-if="$first" rowspan="{{ organism.genes.length }}">
            <i>{{ organism.scientific_name }}</i>
          </td>
          <td>{{ gene.systematic_identifier }}</td>
          <td>{{ gene.name }}</td>
          <td>{{ gene.product }}</td>
          <td ng-if="!readOnly" style="vertical-align: top;">
            <button
                ng-disabled="gene.disabled"
                ng-class="{'btn-danger': (!gene.disabled)}"
                title="{{ gene.title }}"
                ng-click="removeGene(gene.gene_id)">
              <span ng-class="{'gene-button-delete-text-disabled': gene.disabled}">X</span>
            </button>
          </td>
        </tr>
        <tr ng-if="organism.genes.length === 0">
          <td>
            <i>{{ organism.scientific_name }}</i>
          </td>
          <td class="organism-table__no-gene-notice" colspan="3">
            (No genes for this organism)
          </td>
          <td ng-if="!readOnly">
            <button 
              ng-if="canRemoveHost(organism)"
              title="Remove host"
              class="btn-danger"
              ng-click="removeHost(organism.taxonid)">X</button>
            <button
              ng-if="!canRemoveHost(organism)"
              disabled="disabled"
              title="Host can't be removed because it is used in a metagenotype">
              <span class="gene-button-delete-text-disabled">X</span>
            </button>
          </td>
        </tr>
        <tr ng-if="strainsMode">
          <td colspan="{{ readOnly ? 4 : 5 }}">
            <strain-picker taxon-id="{{ organism.taxonid }}"></strain-picker>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
